<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div class="container-fluid p-5">

        
        <!--Row sizing-->
        <div class="row p-5">
            <h1>Portfolio</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit, mi a pellentesque fringilla, odio augue vehicula diam, nec aliquam arcu nisl nec nisi. Duis tincidunt velit condimentum ex volutpat faucibus. Donec porta ut urna eu viverra. Vivamus tempus diam non semper rhoncus. Nunc fermentum tempus risus sit amet egestas.</p>

            <div class="col">
            <!--Card 1-->
            <div class="card ">
                <img src="https://picsum.photos/id/137/200/" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="text-primary">Project Name</h2>
                    <p class="card-text">Sed nec nulla id eros pretium pretium ac eget turpis. Ut iaculis id dui in congue. Maecenas malesuada massa sed tortor sodales auctor. Suspendisse pretium a tortor sit amet finibus. Aenean eros sem, convallis id egestas feugiat, scelerisque et nisl. Curabitur id quam purus. Ut id tellus eu risus viverra elementum pretium ut lorem.</p>
                </div>
                </div>
                </div>

            <div class="col">
            <!--Card 1-->
            <div class="card ">
                <img src="https://picsum.photos/id/347/200/" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="text-primary">Project Name</h2>
                    <p class="card-text">Sed nec nulla id eros pretium pretium ac eget turpis. Ut iaculis id dui in congue. Maecenas malesuada massa sed tortor sodales auctor. Suspendisse pretium a tortor sit amet finibus. Aenean eros sem, convallis id egestas feugiat, scelerisque et nisl. Curabitur id quam purus. Ut id tellus eu risus viverra elementum pretium ut lorem.</p>
                </div>
                </div>
                </div>

            <div class="col">
            <!--Card 1-->
            <div class="card ">
                <img src="https://picsum.photos/id/139/200/" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="text-primary">Project Name</h2>
                    <p class="card-text">Sed nec nulla id eros pretium pretium ac eget turpis. Ut iaculis id dui in congue. Maecenas malesuada massa sed tortor sodales auctor. Suspendisse pretium a tortor sit amet finibus. Aenean eros sem, convallis id egestas feugiat, scelerisque et nisl. Curabitur id quam purus. Ut id tellus eu risus viverra elementum pretium ut lorem.</p>
                </div>
                </div>
                </div>
        

           
      




            <!--end of the container-->
        </div> 
    






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>